<h1>Welcome to the Night Sky App</h1>

<p>Have you ever wonder what that one dot in the night sky is called? Or maybe you lived in the city your whole live like me and wonder what's behind all the light pollution?</p>
<p>Now you are in luck! Enter your location below to find out!
</p>
<form action="/output">
  <div>
    <label for="location">
      What's your location?
    </label>

    <input id="location" text="text" name="location" placeholder="E.g. Chicago" autocomplete="off">
  </div>



  <button>
    Enter
  </button>
</form>
